
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#4a4a4a, #2e5eb8);

}

.title{
    font-size: 50px;
    color: #FFF;
    animation: flipTitle 3s;
}

@keyframes flipTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
    
}

.containerInput{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
}

.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder{
    color: #ccc;
    opacity: 1;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    width: 300px;
    border-radius: 8px;
}

.main h2{
    margin: 16px 0;
    font-size: 30px;
}

.main span{
    font-weight: bold;
}

.main span:not(:last-child){
    margin-bottom: 16px;
}

@media(min-width: 760px){
    .containerInput{
        font-size: 24px;
    }
    .title{
        font-size: 60px;
    }
    .main h2 {
        font-size: 30px;
    }
}


